.puzzle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.status {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
}

.winner {
  font-size: 24px;
  color: green;
  margin-bottom: 20px;
}

.puzzle-grid {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  gap: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #ccc;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.tile:hover{
  background-color: #D3D3D3;
}

.tile.correct {
  background-color: lightgreen;
}

.new-game-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: lightgreen;
  font-weight: bold;
}

.new-game-button:hover{
  background-color: #03C03C;
}